body {
  background-color: rgba(255,83,13,0.2);
  /*color: #fff;*/
  width: 100vw;
}

header {
  width: 100vw;
  /* height: 100vh; */
  position: relative;
}

.jumbo {
  display: flex;
  justify-content: space-between;
}

.jumbo p {
  font-size: 20rem;
  color: #ef1524;
  text-shadow: #000 1px 1px, #000 -1px 1px, #000 1px -1px, #000 -1px -1px;
}

.uTurn {
  margin-top: -1rem !important;
}

.eq-c {
	line-height: 1.4;
	padding: 0.25em 0.5em;
	font-size: 1.1em;
  text-align: center;
}

.eq-c i {
  letter-spacing: 1px;
}

.intsuma {
    position: relative;
    top: -5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.intsuma > span {
    display: block;
    font-size: 70%;
}
.intsuma .lim-up {
    margin-bottom: -1.0ex;
}
.intsuma .lim {
    margin-top: -0.5ex;
}
.intsuma .sum {
    font-size: 1.5em;
    font-weight: lighter;
}
.intsuma .sum-frac {
    font-size: 1.5em;
    font-weight: 100;
}

.radical {
    position: relative;
    top: -5px;
    left: 10px;
    font-size: 1.6em;
    vertical-align: middle;
}
.n-root {
    position: absolute;
    top: -0.333em;
    left: 0.333em;
    font-size: 45%;
}
.radicand {
    padding: 0 0.25em;
    border-top: thin black solid;
}

.accueil {
  background-image: url('../../img/accueil.jpg');
  background-position: center 20%;
  height: 100%;
}

.burger {
  display: none;
}

.grid {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  max-height: 80px;
}

.fourFirst, .twoLast {
  display: flex;
  flex-wrap: wrap;
}

.fourFirst {
  justify-content: flex-start;
}

.twoLast {
  justify-content: flex-end;
}

#myAccount {
  display: block;
  color: #156296;
  font-weight: 600;
}

.myAccount {
  display: flex;
}

.twoLinesMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p.nav-link {
  padding: 0 1rem;
  margin: 0;
}

.a, .b, .c, .d, .e, .f, .g {
  color: #156296;
  font-weight: 600;
}

.toggleMenu {
  background-color: #FFF;
  padding-top: 1rem;
  z-index: 2;
  width: 200px;
}

.showMenu {
  display: block;
}



.toggleMenu > ul {
  list-style-type: none;
  padding: 0;
}

.toggleMenu > ul > li > a {
  padding-left: 1rem;
}

.toggleMenu > ul > li:hover, .toggleMenu > ul > li > a:not(.logoutLink):hover {
  background-color: #156296;
  color: #FFF;
}

.logoutLink:hover, .logoutLink > a:hover {
  background-color: #ef1524 !important;
  color: #FFF;
}

.nav-item {
  list-style: none;
}

.menu_list a {
  color: #156296;
  font-weight: bold;
}

form {
  width: 100%;
  margin: 0 auto;
}

.title_group {
  width:100%;
  position: absolute;
  top: 66%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 5em;
  z-index: 5;
}

.title_group > h1 {
  color: #FFF;
  padding: 0;
  margin: 0;
}

.link_buttons > .headerButton {
  margin-top: 0;
  width: 20%;
  background-color: #2090B2;
  color: #000;
  border-radius: 10%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.link_buttons {
  margin-top: -2rem;
}

.btn:not(#deleteButton):hover {
  background-color: #156296;
  color:#FFF;
}

.btn:not(#deleteButton) {
  background-color: #2090B2;
  color: #000;
  margin-top:5%;
  width: 100%;
}

.card {
  border: none;
}

.card-img-top {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.trip_list {
  background-color: #2090B2;
}

.trip_icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.description {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin: 5%;
  padding-top: 2%;
  color: #FFF;
}

.icons {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid rgba(255, 255, 255, 0.5);
}

figcaption {
  text-align: center;
  color: #FFF;
  font-size: 1.1em;
}

a:hover {
  text-decoration: none;
}

.presentation {
  margin-top: 5%;
  margin-bottom: 5%;
}

li > span {
  text-decoration: underline;
  font-weight: bold;
}

ul + p {
  text-align: center;
  font-size: 1.2em;
}

.choice {
  display: flex;
  flex-direction: column;
}

.depart {
  margin-top: 20%;
}


.alignement_height {
  border-right: 1px solid rgba(0,0,0,0.5);
}

label.depart {
  text-align: center;
  font-size: 1.2em;
}

input {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(32,144,178,0.5);
  border-top: 1px solid rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  color: #FFF;
}

.legal>ul>li {
  list-style: none;
}

.copyright {
  height: 100%;
  margin: auto 0;
}

.footer_link {
  color: #fff;
}


.content {
  background-color: #fff;
  color:#000;
  padding: 0;
}

.message {
  color:#FFF;
}

.fa-user-times {
  color:red;
}

h1 {
  padding-top: 3%;
  text-align: center;
  padding-bottom:20px;
  color: #57B8FF;
}

/* form {
  width: 30%;
  margin: 3% auto;
} */

.form-signin {
  width: 80%;
  margin: 3% auto;
}

.hidden, .hidden_error, .hidden_success, .hiddenMenu {
  display: none;
}

.color {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
}

.show {
  display: flex;
  margin-top: 5px;
}

.color, .red, .orange, .green {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.red {
  background-color: #ef1524;
}

.orange {
  background-color: #f9b331;
}

.green {
  background-color: #49e241;
}

span.show_success {
  color: #49e241;
}

.show_error, .show_success {
  display: block;
}

td > img {
  border-radius: 50%;
  height:50px;
  width:50px;
}

.indexImg {
  height: 100vh;
  width: 100vw;
}

table {
  margin-top: 5%;
  width: 100%;
}

.list:nth-child(odd) {
  background-color: #57B8FF;
  color: #FFF;
}

.errorMessage {
  font-weight: bold;
  color: #ef1524;
}

.headerEdit, .bodyEdit, .footerEdit, .mainEdit {
  background-color: #FFF;
  color:#000;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}

.updateForm {
  display: flex;
  justify-content: space-between;
}

.updateForm {
  margin-bottom: 1rem;
}

#bioUpdate {
  width: 100%;
}

.showUpdateForm, .showPasswordForm {
  background-color: #FFF;
  border-bottom: 1px solid grey;
  color:#000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

 .passwordForm {
   background-color: #FFF;
   color:#000;
   display: flex;
   justify-content: space-between;
   padding: 1rem;
 }

 .passwordForm > input {
  height: 32px;
 }

.avatarEdit {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.deleteInfo {
  color: #000;
}

@media screen and (max-width: 640px) {
  #voletFerme {
    position: relative;
    left: -200px;
    z-index:1;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }

  #volet a.burger {
    position: absolute;
    left: 202px;
    top: 2px;
    display: block;
    padding: 1% 1rem;
    background-color: #e5e2d5;
    border-radius: 5%;
    color: #000;
  }

  #voletFerme:target #aller {
    display: none;
  }

  #volet:target #retour {
    display: block;
  }

  #voletFerme:target {
    left: 0;
    z-index: 4;
  }

  .fourFirst {
    flex-direction: column;
    width: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFF;
    border-radius: 5%;
  }

  .fourFirst > .nav-item > a {
    color: #000;
    border-bottom: 1px solid #edebe6;

  }

}
